:root{
    --goldenR-primary: #883677;
    --goldenR-complementary: #ca61c3;
    --goldenR-primary-bold: #441151;

    --goldenR-secondary: #646367;
    --goldenR-secondary-bold: #49484b;
    
    --goldenR-success: #368746;
    --goldenR-success-bold: #2d6939;

    --goldenR-warning: #cf9b3a;

    --goldenR-danger: #87363F;

    --goldenR-info: #363687;

    --goldenR-light: #F8EFF6;
}

a{
    color: var(--goldenR-primary);
}

a:hover{
    color: var(--goldenR-complementary);
    text-decoration: none;
}

.golden-button-primary {
    background-color: var(--goldenR-primary);
    color: white;
}

.golden-button-primary:hover {
    background-color: var(--goldenR-complementary);
    color: white;
}

.golden-button-secondary {
    background-color: var(--goldenR-secondary-bold);
    color: white;
}

.golden-button-secondary:hover {
    background-color: var(--goldenR-secondary);
    color: white;
}

.golden-button-success {
    background-color: var(--goldenR-success-bold);
    color: white;
}

.golden-button-success:hover {
    background-color: var(--goldenR-success);
    color: white;
}